@keyframes runAnimation {
  0% { background-position: 0 0; }
  14.3% { background-position: -96px 0; }
  28.6% { background-position: -192px 0; }
  42.9% { background-position: -288px 0; }
  57.2% { background-position: -384px 0; }
  71.5% { background-position: -480px 0; }
  85.8% { background-position: -576px 0; }
  100% { background-position: 0 0; }
}

.character {
  width: 96px;
  height: 100px;
  background-image: url('../../assets/Run.png');
  background-size: 672px 100px;
  position: absolute;
  top: calc(50% - 130px);
  animation: runAnimation 2s steps(7) infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.dropdown {
  margin-top: 20px;
}

.list-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  right: -100%;
}
